/*================================================
durpal.css
=================================================*/
/* $Id: drupal.css,v 1.101.2.2 2005/05/31 23:24:18 unconed Exp $ */

/*
** HTML elements
*/
fieldset {
  margin-bottom: 1em;
  padding: .5em;
}
form {
  margin: 0;
  padding: 0;
}
hr {
  height: 1px;
  border: 1px solid gray;
}
img {
  border: 0;
}
table {
  border-collapse: collapse;
}
th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #ccc;
  white-space: nowrap;
}
th.active img {
  display: inline;
}
tr.dark, tr.light {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
tr.dark, tr.light {
  padding: 0.1em 0.6em;
}
/*
AVS: didn't want this on the tracker, plus dark/light row highlighting meant that class-specific settings (active, dark; active, light) would be required (todo?)
td.active {
  background-color: #ddd;
}
*/

/*
** Menu styles
*/
.menu {
  padding: 0 0 0 0.5em;
}
.menu ul {
  list-style: none;
  border: none;
  text-align:left;
}
.menu li a {
  width: 100%;
  text-decoration: none;
}
li.expanded {
  list-style-type: circle;
  list-style-image: url(menu-expanded.png);
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.collapsed {
  list-style-type: disc;
  list-style-image: url(menu-collapsed.png);
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li.leaf {
  list-style-type: square;
  list-style-image: url(menu-leaf.png);
  padding: 0.2em 0.5em 0 0;
  margin: 0;
}
li a.active {
  color: #000;
}
td.menu-disabled {
  background: #ccc;
}

/*
** Other common styles
*/
.breadcrumb {
  padding-bottom: .5em
}
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
}
br.clear {
  clear: both;
  height: 0px;
}
.container-inline div {
  display: inline;
}
.container-inline .form-submit {
  margin: 0;
}
.error {
  color: red;
}
.item-list .icon {
  color: #555;
  float: right;
  padding-left: 0.25em;
  clear: right;
}
.item-list .icon a {
  color: #000;
  text-decoration: none;
}
.item-list .icon a:hover {
  color: #000;
  text-decoration: none;
}
.item-list .title {
  font-weight: bold;
}
.item-list ul {
  margin: 0 0 0.75em 0;
  padding: 0;
  line-height: 1.6em;
}
.item-list ul li {
  margin: 0 0 0.25em 1.5em;
  padding: 0;
  list-style: disc;
}
.form-item {
  margin-top: 1em;
  margin-bottom: 1em;
}
tr.light .form-item, tr.dark .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}
.form-item input.error, .form-item textarea.error {
  border: 2px solid red;
}
.form-item .description {
  font-size: 0.85em;
}
.form-item label {
  font-weight: bold;
}
.form-item label.option {
  font-weight: normal;
}
.form-submit {
  margin: 0.5em 0;
}
.marker, .form-required {
  color: #f00;
}
.more-link {
  text-align: right;
}
.node-form .form-text {
  display: block;
  width: 95%;
}
.node-form .standard {
  clear: both;
}
.node-form textarea {
  display: block;
  width: 95%;
}
* html .node-form fieldset {
/* Note: IE-only CSS due to "* html" escape. Sadly required for fieldsets to appear correctly. */
  display: inline;
}
.node-form .admin .form-item .title {
  margin-top: 0;
}
.node-form .admin .authored .form-item {
  margin-bottom: 1.1em;
}
.node-form .admin .authored .form-text  {
  width: auto;
}
.node-form .admin .authored, .node-form .admin .options, .node-form .admin .extra {
  float: left;
  margin-right: 2em;
  margin-bottom: 1em;
}
.node-form .attachments fieldset {
  float: none;
  display: block;
}
.ok {
  color: #080;
}
#pager {
  clear: both;
  text-align: center;
}
#pager div {
  padding: 0.5em;
}
.path {
  padding-bottom: 0.7em;
  font-size: 1.1em;
}

/*
** Module specific styles
*/
#aggregator .feed img {
  float: right;
}
#aggregator .news-item {
  clear: both;
  padding-bottom: 1em;
}
#aggregator .news-item .date {
  float: left;
}
#aggregator .news-item .body {
  margin-top: 1em;
  margin-left: 4em;
}
#aggregator .news-item .body .feed {
  font-size: 0.9em;
}
#aggregator .news-item .title {
  float: left;
}
#aggregator .news-item .description {
  clear: both;
}
#aggregator td {
  vertical-align: bottom;
}
#aggregator td.categorize-item {
  white-space: nowrap;
}
#aggregator .categorize-item .news-item .body {
  margin-top: 0;
}
#aggregator .categorize-item h3 {
  margin-bottom: 1em;
  margin-top: 0;
}
.book {
  margin: 1em 0 1em 0;
}
.book .title {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom:1em;
}
.book .tree {
  padding-top:1em;
  border-top: 1px solid #888;
  padding-bottom: 1em;
}
.book .name {
  padding-top:1em;
  font-weight: bold;
  font-size: 1em;
}
.book .nav {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  padding-bottom: 3em;
  padding-top: 1em;
  clear: both;
}
.book .nav .links {
  clear: both;
}
.book .nav .titles {
  clear: both;
}
.book .nav .prev {
  float: left;
  text-align: left;
  width: 45%;
}
.book .nav .next {
  float: right;
  text-align: right;
  width: 45%;
}
.book .nav .up {
  text-align: center;
}
.calendar .row-week td a {
  display: block;
}
.calendar .row-week td a:hover {
  background-color: #888; color: #fff;
}
.calendar a {
  text-decoration: none;
}
.calendar a:hover {
  text-decoration: none;
}
.calendar table {
  border-collapse: collapse;
/*  width: 160px; */ /* avs */
  border: 1px solid #000;
}
.calendar td, .calendar th {
  text-align: center;
  border: 1px solid #000;
  padding: 2px;  /* avs: was 1px */
  margin: 0;
  font-size: 0.8em;
}
.calendar td.day-blank {
  border: 0;
}
.tips {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.9em;
}
#forum .description {
  font-size: 0.9em;
  margin: 0.5em;
}
#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
  white-space: nowrap;
}
#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
  text-align: center;
}

#node-admin-filter ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
#node-admin-buttons {
  float: left;
  margin-left: 0.5em;
  clear: right;
}
dl.multiselect dd.b, dl.multiselect dd.b .form-item, dl.multiselect dd.b select {
  font-family: inherit;
  font-size: inherit;
  width: 14em;
}
dl.multiselect dd.a, dl.multiselect dd.a .form-item {
  width: 8em;
}
dl.multiselect dt, dl.multiselect dd {
  float: left;
  line-height: 1.75em;
  padding: 0px;
  margin: 0px 1em 0px 0px;
}
dl.multiselect .form-item {
  height: 1.75em;
  margin: 0px;
}
#permissions td.module, #blocks td.region {
  font-weight: bold;
}
#permissions td.permission, #blocks td.block {
  padding-left: 2em;
}
#access-rules .access-type, #access-rules .rule-type {
  margin-right: 1em;
  float: left;
}
#access-rules .access-type .form-item, #access-rules .rule-type .form-item {
  margin-top: 0;
}
#access-rules .mask {
  clear: both;
}
.poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.poll .bar .foreground {
  background-color: #000;
  height: 1em;
  clear: left;
  float: left;
}
.poll .links {
  text-align: center;
}
.poll .percent {
  text-align: right;
}
.poll .total {
  text-align: center;
}
.poll .vote-form {
  text-align: center;
}
.poll .vote-form .choices {
  text-align: left;
  margin: 0 auto;
  display: table;
}
.profile {
  clear: both;
  margin: 1em 0 1em 0;
}
.profile .picture {
  float: right;
  margin: 0 1em 1em 0;
}
.node-form .poll-form fieldset {
  display: block;
}
img.screenshot {
  border: 1px solid #808080;
  display: block;
  margin: 2px;
}
.search-form {
  margin-bottom: 1em;
}
.search-form p {
  margin-top: 0;
  margin-bottom: 0.2em;
  padding-top: 0;
  padding-bottom: 0;
}
.search-form input {
  margin-top: 0;
  margin-bottom: 0;
}
.search-results p {
  margin-top: 0;
}
.search-results dt {
  font-size: 1.1em;
}
.search-results dd {
  margin-bottom: 1em;
}
.search-results .search-info {
  font-size: 0.85em;
}
.tips table {
  margin-top: 1em;
  margin-bottom: 1em;
}
#tracker td.replies {
  text-align: center;
}
#tracker table {
  /* avs - was: width: 100%; // too wide for IE(6) */
  width: 97%;
}
.user-login-block {
  text-align: center;
}
.more-help-link {
  font-size: 0.85em;
  text-align: right;
}
tr.watchdog-user {
  background: #ffd;
}
tr.watchdog-user .active {
  background: #eed;
}
tr.watchdog-content {
  background: #ddf;
}
tr.watchdog-content .active {
  background: #cce;
}
tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background: #dfd;
}
tr.watchdog-page-not-found .active, tr.watchdog-access-denied .active {
  background: #cec;
}
tr.watchdog-error {
  background: #ffc9c9;
}
tr.watchdog-error .active {
  background: #eeb9b9;
}
.comment .links .form-item {
  display: inline;
  white-space: nowrap;
}
.comment .links .form-item br {
  display: none;
}
#comment-moderation-button {
  text-align: center;
}

/* Tab navigation */
ul.primary {
  border-collapse: collapse;
  padding: 0 0 0 1em;
  white-space: nowrap;
  list-style: none;
  margin: 5px;
  height: auto;
  line-height: normal;
  border-bottom: 1px solid #bbb;
}
ul.primary li {
  display: inline;
}
ul.primary li a {
  background-color: #ddd;
  border-color: #bbb;
  border-width: 1px;
  border-style: solid solid none solid;
  height: auto;
  margin-right: 0.5em;
  padding: 0 1em;
  text-decoration: none;
}
ul.primary li.active a {
  background-color: #fff;
  border: 1px solid #bbb;
  border-bottom: #fff 1px solid;
}
ul.primary li a:hover {
  background-color: #eee;
  border-color: #ccc;
  border-bottom-color: #eee;
}
ul.secondary {
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em 0.5em 1em;
  margin: 5px;
}
ul.secondary li {
  display: inline;
  padding: 0 1em;
  border-right: 1px solid #ccc;
}
ul.secondary a {
  padding: 0;
  text-decoration: none;
}
ul.secondary a.active {
  border-bottom: 4px solid #999;
}




/*================================================
common.css
=================================================*/
/* $Id: common.css,v 1.8 2004/09/20 14:36:53 unconed Exp $ */

/*
 ** HTML elements
 */
a, a:link, a:active, a:visited {
	text-decoration: none;
	color: #015FAB;
}
a:hover {
	text-decoration: underline;
}
body {
	margin: 0 auto;
	padding: 1.5em 0;
	font-size: .9em;
	line-height: 1.6em;
	width: 960px;
}

/*
Moved to ltu sub-theme.
blockquote {
font-style: italic;
}
 */

table {
	margin: 0;
	padding: .5em;
	border-collapse: collapse;
}
.highlight {
	margin: 0;
	padding: 0;
}
.lineno {
	color: #586E75;
}
code, pre {
	display: block;
	color: #FFF;
	font-size: 13px;
	line-height: 1.6em;
	font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace !important;
	overflow-x: auto;
	overflow-y: hidden;
}
pre {
	width: 660px;
	padding: 0;
	background: #002B36;
}
code {
	padding: .5em 1em;
}
li {
	padding-bottom: .3em;
}
h1, h2, h3, h4, h5, h6 {
	margin: 1.6em 0 .25em;
}
h1 {
	font-size: 1.3em;
}
h2 {
	font-size: 1.3em;
}
h3 {
	font-size: 1.1em;
}
h4, h5, h6 {
	font-size: 1em;
}
p {
	margin: 1em 0 .5em 0;
}
br {
	line-height: 0.6em;
}

/*
 ** Page layout blocks / IDs
 */
#header {
	margin-bottom: 2em;
}
#help {
	font-size: 0.8em;
}
#content {
	clear: both;
	width: 100%;
}
#sidebar-left, #sidebar-right {
	vertical-align: top;
	padding: 0 10px;
}
#sidebar-right {
	width: 260px;
}

#main {
	padding: 0 10px;
	vertical-align: top;
}
#footer {
	font-size: 0.8em;
	padding-top: 2em;
}

/*
 ** Common declarations for child classes of node, comment, block, box etc
 */
.title {
	margin: 0 0 .25em 0;
}
.content {
	margin: 0 0 .5em 0;
}
.links {
	font-size: 0.8em;
	line-height: 1.6em;
}
.block {
	/*  width: 180px; */
}
.messages {
	padding: 0.3em;
	margin: 0.5em 0em 0.5em 0em;
}
.status {
	border: 1px solid #3a3;
	color: #3a3;
}
.error, form-item input.error {
	border: 1px solid red;
	color: red;
}
.links .tags {
	margin: 0.5em 0.2em;
}

/*
 ** Common navigation links added on the admin/themes/settings page
 */
.navlinks {
	padding: 0em 0.5em 1.5em 0em;
	clear: both;
}
.primary a {
	font-size: 1.0em;
	padding: 0em 0.5em 0em 0em;
}
.secondary a {
	font-size: 0.9em;
	padding: 0em 0.5em 0em 0em;
}

#header {
	clear: both;
}
/*
 ** Module specific styles
 */
.form-item textarea {
	font-size: 1em;
}
#aggregator .feed {
	border: 1px solid gray;
	padding: 1em;
}

/*
 ** avs: Copied from misc/drupal.css in 4.5.x to retain previous look
 */
tr.dark {
	background-color: #ddd;
}
tr.light {
	background-color: #eee;
}

#tracker table {
	border-collapse: collapse;
}
#tracker td {
	vertical-align: top;
	padding: 1em;
}
#tracker td ul {
	margin-top: 0;
	margin-bottom: 0;
}
#tracker td ul a {
	font-weight: normal;
}
#tracker th {
	text-align: left;
	padding: 0.25em 1em 0.25em 0em;
}

/*
 ** LtU blockquotes (avs)
 */

div.content blockquote, div.comment blockquote, .abstract {
	width: 80%;
	margin-left: 2.5em;
}

div.content blockquote, .abstract {
	font-style: italic;
}

div.comment blockquote {
	color: #22b;
	border-left: 2px solid gray;
	padding-left: 0.5em;
	font-style: normal;
}

.tag-cloud ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.tag-cloud ul li {
	display: inline;
	padding: 0;
	margin: 5px;
}





/*================================================
style.css
=================================================*/
/* $Id: style.css,v 1.2 2004/08/20 09:34:52 dries Exp $ */

/*
** HTML elements
*/
body {
  background-repeat: repeat-x;
  font-family: verdana, 'trebuchet ms', sans-serif;
  /* background-image: url(background.gif); border-top: 10px solid gray; */
}
ul {
  list-style-type: disc;
}

/*
** Page layout blocks / IDs
*/
#main {
/*  width: 500px; *avs* */
}
#sidebar-left {
  border-right: 1px solid gray;
}
#sidebar-right {
  border-left: 1px solid gray;
}

/*
** Common declarations for child classes of node, comment, block, box etc
*/
#header h1 { margin-bottom:0; }
#header .title {
  font:bold italic 2.1em Georgia,"trebuchet ms",sans-serif;
}
#header .title a,
#header .title a:link,
#header .title a:visited,
#header .title a:active {
  text-decoration: underline;
}
.node .title {
  font-size: 1.3em;
}
.node .title a,
.node .title a:link,
.node .title a:active,
.node .title a:visited {
  text-decoration: none;
  font-weight: bold;
}
.node .title a:hover {
  text-decoration: underline;
}
.links {
  margin: 1em 0 3em 0;
  text-align: right;
 }
.comment .content, .block .content, .menu {
  font-size: 0.9em;
}
.block {
  padding-bottom: 1em;
}
.block .title {
  font-size: 1em;
  font-variant: small-caps;
}

/*
** Module specific styles
*/
.item-list ul li {
  list-style: square;
}
#aggregator .source {
  color: gray;
  font-style: italic;
  font-size: 0.9em;
}

.rss-feed {
	margin-left: 5px;
	padding-left: 18px;
	background: url("/images/feed-icon-14x14.png") no-repeat scroll 0 100% transparent;
}




/*================================================
syntax.css
=================================================*/
.hll { background-color: #404040 }
.c { color: #999999; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.g { color: #d0d0d0 } /* Generic */
.k { color: #6ab825; font-weight: bold } /* Keyword */
.l { color: #d0d0d0 } /* Literal */
.n { color: #d0d0d0 } /* Name */
.o { color: #d0d0d0 } /* Operator */
.x { color: #d0d0d0 } /* Other */
.p { color: #d0d0d0 } /* Punctuation */
.cm { color: #999999; font-style: italic } /* Comment.Multiline */
.cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
.c1 { color: #999999; font-style: italic } /* Comment.Single */
.cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
.gd { color: #d22323 } /* Generic.Deleted */
.ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
.gr { color: #d22323 } /* Generic.Error */
.gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.gi { color: #589819 } /* Generic.Inserted */
.go { color: #cccccc } /* Generic.Output */
.gp { color: #aaaaaa } /* Generic.Prompt */
.gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
.gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
.gt { color: #d22323 } /* Generic.Traceback */
.kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
.kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
.kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
.kp { color: #6ab825 } /* Keyword.Pseudo */
.kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
.kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
.ld { color: #d0d0d0 } /* Literal.Date */
.m { color: #3677a9 } /* Literal.Number */
.s { color: #ed9d13 } /* Literal.String */
.na { color: #bbbbbb } /* Name.Attribute */
.nb { color: #24909d } /* Name.Builtin */
.nc { color: #447fcf; text-decoration: underline } /* Name.Class */
.no { color: #40ffff } /* Name.Constant */
.nd { color: #ffa500 } /* Name.Decorator */
.ni { color: #d0d0d0 } /* Name.Entity */
.ne { color: #bbbbbb } /* Name.Exception */
.nf { color: #447fcf } /* Name.Function */
.nl { color: #d0d0d0 } /* Name.Label */
.nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
.nx { color: #d0d0d0 } /* Name.Other */
.py { color: #d0d0d0 } /* Name.Property */
.nt { color: #6ab825; font-weight: bold } /* Name.Tag */
.nv { color: #40ffff } /* Name.Variable */
.ow { color: #6ab825; font-weight: bold } /* Operator.Word */
.w { color: #666666 } /* Text.Whitespace */
.mf { color: #3677a9 } /* Literal.Number.Float */
.mh { color: #3677a9 } /* Literal.Number.Hex */
.mi { color: #3677a9 } /* Literal.Number.Integer */
.mo { color: #3677a9 } /* Literal.Number.Oct */
.sb { color: #ed9d13 } /* Literal.String.Backtick */
.sc { color: #ed9d13 } /* Literal.String.Char */
.sd { color: #ed9d13 } /* Literal.String.Doc */
.s2 { color: #ed9d13 } /* Literal.String.Double */
.se { color: #ed9d13 } /* Literal.String.Escape */
.sh { color: #ed9d13 } /* Literal.String.Heredoc */
.si { color: #ed9d13 } /* Literal.String.Interpol */
.sx { color: #ffa500 } /* Literal.String.Other */
.sr { color: #ed9d13 } /* Literal.String.Regex */
.s1 { color: #ed9d13 } /* Literal.String.Single */
.ss { color: #ed9d13 } /* Literal.String.Symbol */
.bp { color: #24909d } /* Name.Builtin.Pseudo */
.vc { color: #40ffff } /* Name.Variable.Class */
.vg { color: #40ffff } /* Name.Variable.Global */
.vi { color: #40ffff } /* Name.Variable.Instance */
.il { color: #3677a9 } /* Literal.Number.Integer.Long */
